$color-primary-gradient: linear-gradient(103deg, #009fe3 0%, #e6007e 51%, #ffed00 100%);
$color-primary: #e6007e;
$color-secondary:#333333;
$color-secondary-height:#5B5B5B;
$color-warning:#EC3B3B;
$color-ui-primary:#F4F4F4;
$color-ui-secondary:#565656;
$color-ui-secondary-low:#1D1D1B;
$color-white:#FFFFFF;